
    <p id="status"><strong>Turn:</strong> <span id="turn-num">1</span> <strong>Lives:</strong> <span id="lives-num">3</span></p>
    <div id="game">
      <div id="sentence"></div>
      <ul id="choices"></ul>
    </div>