<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Wikipedia Guessing Game</title>

    <link rel="stylesheet" href="/index.css" />

    <meta name="description" content="A guessing game based on random wikipedia pages" />
    <meta property="og:title" content="Wikipedia Guessing Game">
    <meta property="og:description" content="A guessing game based on random wikipedia pages">
    <!-- <meta property="og:image" content=""> -->
    <!-- <meta property="og:image:alt" content="Image description"> -->
    <meta name="twitter:card" content="summary">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://wikipedia-guessing-game.com/">
    <link rel="canonical" href="http://wikipedia-guessing-game.com/">

    <!-- <link rel="icon" href="/favicon.ico"> -->
    <!-- <link rel="icon" href="/favicon.svg" type="image/svg+xml"> -->
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
    <!-- <link rel="manifest" href="/my.webmanifest"> -->
    <!-- <meta name="theme-color" content="#FF00FF"> -->
  </head>
  <body>
    <h1 id="title"><a href="/">Wikipedia Guessing Game</a></h1>
    <div id="seed">Seed: <a href="/seed/<%= seed %>"><span id="seed-num"><%= seed %></span></a></div>

    <p id="status"><strong>Turn:</strong> <span id="turn-num">1</span> <strong>Lives:</strong> <span id="lives-num">3</span></p>

    <div id="instructions">
      <div id="instructions-box">
        <h2 id="instruction-title">Instructions:</h2>
        <ul>
          <li>For each turn, a sentence will be shown from a random Wikipedia page.</li>
          <li>Your job is to guess which page it came from.</li>
          <li>You have 3 lives.</li>
        </ul>
        <button onClick="start()">Start</button>
      </div>
    </div>

    <div id="game">
      <div id="sentence"></div>
      <ul id="choices"></ul>
    </div>

    <script src="/index.js"></script>
  </body>
</html>