<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A guessing game based on wikipedia pages" />
    <meta name="game-seed" content="<%= seed %>" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1 id="title">Wikipedia Guessing Game</h1>

    <p id="lives"><strong>Lives:</strong> <span id="lives-num"></span></p>

    <div id="instructions">
      <div id="instructions-box">
        <h2 id="instruction-title">Instructions:</h2>
        <ul>
          <li>For each turn, a sentence will be shown from a random Wikipedia page.</li>
          <li>Your job is to guess which page it came from.</li>
          <li>You are given 4 choices.</li>
          <li>You have 3 lives.</li>
        </ul>
        <button onClick="start()">Start</button>
      </div>
    </div>

    <div id="game">
      <div id="sentence">This is a sentence.</div>
      <ul id="choices">
        <li>Choice 1</li>
        <li>Choice 2</li>
        <li>Choice 3</li>
        <li>Choice 4</li>
      </ul>
    </div>

    <script src="index.js"></script>
  </body>
</html>